# Machine Learning Challenge

Below are 2 data challenges that test for your ability to:
- Wrangle/clean data to make it usable by a model
- Figure out how to set up X's and y's for a use case, given a dataset
- Write code to robustly and reproducibly preprocess data
- Pick/design the right model, and tune hyperparameters to get the best performance

You can use any programming language, model, and package to solve these problems. Let us know of any assumptions you make in your process.

#### Deliverables:
- A link to a github repository that contains:
    - Clearly commented code that was written to solve these problems
    - Your trained models stored in a file (`.pkl`, `.h5`, `.tar` - whatever is appropriate). The models must have `predict(X)` functions. 
    - A readme file that contains:
        - Instructions to easily access/load the above
        - A writeup explaining any significant design decisions and your reasons for making them. 
        - If needed, a brief writeup explaining anything you are particularly proud of in your implementation that you might want us to focus on

#### How we'll assess your work:
- Accuracy/RMSE of your model when predicting on held-out data
- How well various edge cases are handled when testing on held-out data. For example, if the held-out data contains:
    - A new column that wasn't present in the dataset given to you
    - New value in a categorical field that wasn't seen in the dataset given to you
    - NA values
- Efficiency of the code. 
    - Is it easy to understand? 
    - Are the variable names descriptive? 
    - Are there any variables created that aren't used? 
    - Is redundant code replaced with function calls? 
    - Is vectorized implementation used instead of nested for loops? 
    - Are classes defined and objects created where applicable? 
    - Are packages used to perform tasks instead of implementing them from scratch?
    
**NOTE:** Your stored models, once loaded, should *just work* when fed with our held-out data (which looks similar to the data we've given you). We won't do any preprocessing before we feed it into the model's `predict(X)` function; `predict(X)` should handle the preprocessing. Pay particular attention to handling the edge cases we've talked about.

Feel free to ask questions to clarify things. Submit everything you tried, not just the things that worked. I encourage you to try and showcase your talents. The more you go above and beyond what's expected, the more impressed we'll be. **Bonus points if you fit Keras/Tensorflow/Pytorch/Caffe models** in addition to your Linear/Tree-based models.

## 0. Import dependencies

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import preprocessing as scale
from sklearn.utils import resample
from sklearn.model_selection import train_test_split


from sklearn.linear_model import LogisticRegression 
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier 
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.ensemble import GradientBoostingClassifier as GBC
from sklearn.ensemble import RandomForestClassifier 
from sklearn.naive_bayes import GaussianNB 
from sklearn.metrics import mean_squared_error, accuracy_score, average_precision_score, precision_score, f1_score,recall_score, roc_auc_score

## Task 1
`predictive_maintenance_dataset.csv` is a file that contains parameters and settings (`operational_setting_1`, `operational_setting_2`, `sensor_measurement_1`, `sensor_measurement_2`, etc.) for many wind turbines. There is a column called `unit_number` which specifies which turbine it is, and one called `status`, in which a value of 1 means the turbine broke down that day, and 0 means it didn't. Your task is to create a model that, when fed with operational settings and sensor measurements (`unit_number` and `time_stamp` will *not* be fed in), outputs 1 if the turbine will break down within the next 40 days, and 0 if not.

**NOTE:** The model should output 1 if the turbine is anywhere between 40 and 0 days away from failure, not *only* 40 days from failure.

In [4]:
## What the data that we'll feed into your model's predict(X) function will look like:
# Notice what the operational_setting_3 column looks like
df_X = pd.read_csv("predictive_maintenance_dataset.csv").drop(labels=['status', 'unit_number', 'time_stamp'], axis='columns')
#df_X

### 1. Preprocess data

In [108]:
def preProcessData(data):
    
    df = data
    nullcols = []

    for col in df.columns:
        
        nbnull = (df[col].isnull()*1).sum()
        if nbnull>0: #if there are null values in a column
            t = type(df[df[col].notnull()][col].iat[0]) # type of first non-null value
            #nullcols.append([col,t])
            print(col, nbnull, t)
                
            
            if t == str: #hopefully there's no edge case where a string column isn't categorical!
                df[col].fillna(df[col].mode()[0], inplace=True)
                #if df[col].dtype.name == 'category':
                df = pd.concat([df.drop(col, axis=1), pd.get_dummies(df[col])], axis=1)
                
            #elif t == 'numpy.float64': #numerical
    df.fillna(df.mean(axis=0), axis=0, inplace=True)
                
                #more data types to account off can be added here 
     
    return df

### 2. Setting Labels

We have an interesting case here: where we're checking if a turbine is going to fail in 40 days or less. So essentially we're trying to figure out a problem where given all the parameters what is the likelihood that a certain unit fails within a 40 day timespan.

So we just have to identify the date the turbines failed and mark the data going back up to a maximum of 40 days as a failure as well.

In [79]:
df.groupby(['status']).count()

,unit_number,time_stamp,operational_setting_1,operational_setting_2,sensor_measurement_1,sensor_measurement_2,sensor_measurement_3,sensor_measurement_4,sensor_measurement_5,sensor_measurement_6,...,sensor_measurement_14,sensor_measurement_15,sensor_measurement_16,sensor_measurement_17,sensor_measurement_18,sensor_measurement_19,sensor_measurement_20,sensor_measurement_21,High,Low
status,,,,,,,,,,,,,,,,,,,,,
0,143570,143570,143570,143570,143570,143570,143570,143570,143570,143570,...,143570,143570,143570,143570,143570,143570,143570,143570,143570,143570
1,633,633,633,633,633,633,633,633,633,633,...,633,633,633,633,633,633,633,633,633,633

In [6]:
def setLabels(df,y_col, limit=40):
    """
    Function that takes in the dataframe, the target-variable column, 
    and a number defining the window period for failure
    """
    print("Initial split of functioning to non-functioning machines: ", df.groupby(['status']).count())
    df[y_col] = df[y_col].replace(0, np.NaN) #Let's replace all the 0s with NaNs and then we work backwords
    df[y_col] = df[y_col].fillna(method='bfill', limit=40) # fill backward up to 40days. Thankfully the data is frequent and daily
    df[y_col] = df[y_col].fillna('0') #fill the rest with zeros
    print("Final split of functioning to non-functioning machines: ", df.groupby(['status']).count())
    
    return df

## Gotta have this outside the function!

In [83]:
df = df.drop(['time_stamp', 'unit_number'], axis = 1)

In [17]:
def normalize(df):
    columns_to_normalize = df.columns[1:24] 
    standard_sc = scale.StandardScaler()
    x_std = standard_sc.fit_transform(df)
    df_scaled = pd.DataFrame(x_std)
    return df_scaled

### Modelling

In [171]:
def dataPrep(df_scaled, df):
    xtrain, xtest, ytrain, ytest = train_test_split(df_scaled, df['status'], test_size = 0.25, random_state = 19)
    ytrain, ytest = ytrain.astype(int), ytest.astype(int)
    return xtrain, xtest, ytrain, ytest

In [141]:
def metrics(ytest, pred):
    """
    Function to evaluate models against models 
    """
    print('accuracy score: ', accuracy_score(ytest, pred))
    print('RMSE:', mean_squared_error(ytest,pred))
    print('Recall score: ', recall_score(ytest,pred))
    
    print('average_precision_score: ', average_precision_score(ytest,pred))
    print('Precision Score: ',precision_score(ytest,pred))
    print('F1_score: ',f1_score(ytest, pred))
    print('roc_auc_score: ', roc_auc_score(ytest, pred))

In [ ]:
def score(training_model):
    model = training_model.fit(xtrain.values,ytrain.values)
    pred = model.predict(xtest.values)
    metrics(pred,ytest)
    return pred

In [176]:
def logisticRegression(xtrain,xtest,ytrain,ytest):
    LR = LogisticRegression(multi_class='ovr')
    pred = score(LR)
    return pred

def randomForestClassifier(xtrain,xtest,ytrain,ytest,n_estimators=25,min_samples_split=25,max_depth=5,random_state=72):
    RF = RandomForestClassifier(n_estimators = 25, min_samples_split=25, max_depth =5, random_state=72)
    pred = score(RF)
    return pred

def gaussianNaiveBayes(xtrain,xtest,ytrain,ytest):
    GNB = GaussianNB()
    pred = score(GNB)
    return pred

def supportVectorMachine(xtrain,xtest,ytrain,ytest):
    svc = SVC(kernel='linear')
    pred = score(svc)
    return pred

In [ ]:
def train(df_scaled,df):
    
    xtrain, xtest, ytrain, ytest = dataPrep(df_scaled,df)

In [ ]:
X = pd.read_csv("predictive_maintenance_dataset.csv")

In [178]:
def Predict(X):
    
    df = X.sort_values(by = ['unit_number', 'time_stamp'])
    
    df = preProcessData(df)
    
    df = setLabels(df, 'status', 40)
    
    df = df.drop(['time_stamp', 'unit_number'], axis = 1)
    
    df_scaled = normalize(df)
    
    predictions =

## Task 2
`forecasting_dataset.csv` is a file that contains pollution data for a city. Your task is to create a model that, when fed with columns `co_gt`, `nhmc`, `c6h6`, `s2`, `nox`, `s3`, `no2`, `s4`, `s5`, `t`, `rh`, `ah`, and `level`, predicts the value of `y` six hours later.

**NOTE:** In the data we've given you, the value of `y` for a given row is the value of `y` *for the timestamp of that same row*. We're asking you to predict the value of `y` 6 hours *after the timestamp of that row*.

In [111]:
## What the data that we'll feed into your model's predict(X) function will look like:
# Notice what the level column looks like
pd.read_csv("forecasting_dataset.csv").drop(labels=['date', 'time', 'y'], axis='columns')

,co_gt,nhmc,c6h6,s2,nox,s3,no2,s4,s5,t,rh,ah,level
0,-200.0,-200.0,7.2,867.0,-200.0,834.0,-200.0,1314.0,891.0,14.8,57.3,0.9603,NaN
1,0.5,-200.0,3.9,704.0,-200.0,861.0,-200.0,1603.0,860.0,24.4,65.0,1.9612,Low
2,3.7,-200.0,23.3,1386.0,NaN,626.0,109.0,2138.0,NaN,23.3,38.6,1.0919,High
3,2.1,-200.0,12.1,1052.0,183.0,779.0,NaN,1690.0,952.0,28.5,27.3,1.0479,High
4,4.4,-200.0,21.7,1342.0,786.0,499.0,206.0,1546.0,2006.0,12.9,54.1,0.8003,High
5,-200.0,NaN,7.0,859.0,-200.0,892.0,-200.0,NaN,754.0,17.7,54.0,1.0826,Very low
6,-200.0,-200.0,NaN,1004.0,123.0,818.0,119.0,NaN,783.0,32.4,22.4,1.0701,Very low
7,2.3,-200.0,NaN,1035.0,100.0,746.0,112.0,1611.0,1062.0,27.9,27.6,1.0252,High
8,1.0,-200.0,4.5,737.0,49.0,899.0,63.0,NaN,611.0,25.1,55.7,NaN,Moderate
9,1.9,-200.0,10.2,984.0,110.0,838.0,92.0,1897.0,976.0,26.6,47.6,1.6315,High
10,1.0,-200.0,4.8,754.0,139.0,936.0,NaN,1351.0,854.0,16.8,66.8,1.2721,Moderate
11,2.4,-200.0,10.0,977.0,448.0,673.0,153.0,1199.0,1202.0,5.6,72.3,0.6627,High
12,-200.0,-200.0,2.6,628.0,NaN,1243.0,-200.0,1329.0,518.0,8.7,81.5,0.9190,Very low
13,0.5,-200.0,3.1,658.0,30.0,1140.0,43.0,1467.0,609.0,24.0,45.8,1.3467,Low
14,2.6,-200.0,15.8,1173.0,189.0,785.0,140.0,1808.0,981.0,34.0,20.8,1.0898,High
15,4.1,260.0,21.4,1334.0,320.0,702.0,108.0,1999.0,1534.0,11.1,60.2,0.7958,High
16,3.2,-200.0,17.8,1233.0,342.0,618.0,168.0,NaN,1127.0,31.5,31.4,1.4310,High
17,1.4,-200.0,8.3,910.0,NaN,NaN,81.0,1389.0,643.0,28.2,19.4,0.7303,High
18,1.2,-200.0,7.5,880.0,182.0,NaN,47.0,1451.0,965.0,17.3,78.4,1.5320,High
19,3.3,-200.0,22.7,1371.0,207.0,576.0,117.0,2138.0,1622.0,NaN,43.3,1.1265,High
20,0.9,-200.0,6.3,828.0,132.0,892.0,66.0,1491.0,837.0,21.3,63.2,1.5794,Low
21,6.8,-200.0,29.2,1533.0,984.0,456.0,282.0,1532.0,2214.0,7.3,36.8,0.3771,High
22,1.1,-200.0,5.8,805.0,69.0,972.0,65.0,1528.0,718.0,25.3,36.3,1.1513,High
23,1.1,-200.0,4.3,728.0,-200.0,1046.0,-200.0,1167.0,514.0,31.6,18.0,0.8243,High
24,2.1,-200.0,11.6,1035.0,107.0,726.0,112.0,1779.0,1059.0,27.7,39.3,1.4372,High
25,4.0,-200.0,21.2,1330.0,676.0,535.0,193.0,1363.0,1725.0,11.4,28.7,0.3865,High
26,2.5,-200.0,10.7,1004.0,387.0,652.0,193.0,1078.0,1421.0,5.2,44.2,0.3943,High
27,0.7,-200.0,2.3,607.0,56.0,1373.0,61.0,1324.0,438.0,12.3,66.3,0.9487,Low
28,0.7,-200.0,4.9,758.0,17.0,824.0,NaN,1567.0,856.0,28.1,51.6,1.9269,Low
29,-200.0,NaN,5.3,780.0,-200.0,919.0,-200.0,909.0,884.0,9.6,32.3,0.3871,Very low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8391,3.8,-200.0,16.5,1195.0,625.0,NaN,180.0,1513.0,1651.0,13.3,56.2,0.8548,High
8392,0.8,-200.0,2.2,602.0,121.0,1123.0,89.0,824.0,527.0,11.1,33.4,NaN,Low
8393,2.1,-200.0,10.3,991.0,218.0,721.0,109.0,1559.0,1028.0,24.1,50.7,1.4959,NaN
8394,3.1,-200.0,15.6,1166.0,535.0,567.0,179.0,1382.0,1505.0,8.9,60.8,0.6921,High
8395,1.7,-200.0,10.0,979.0,248.0,798.0,95.0,1580.0,958.0,21.1,58.3,1.4444,High
8396,0.6,-200.0,1.4,540.0,73.0,1110.0,55.0,999.0,670.0,7.2,74.4,0.7581,Low
8397,NaN,-200.0,4.8,751.0,53.0,849.0,64.0,1649.0,643.0,27.6,52.4,1.9055,High
8398,1.4,36.0,4.2,NaN,101.0,1225.0,84.0,1414.0,959.0,11.6,62.7,0.8530,High
8399,-200.0,-200.0,NaN,1049.0,-200.0,675.0,-200.0,1530.0,1117.0,21.0,46.8,1.1508,Very low
8400,0.6,-200.0,5.4,784.0,66.0,839.0,74.0,1503.0,1204.0,25.6,38.8,1.2545,Low
8401,1.0,-200.0,2.8,639.0,148.0,1033.0,81.0,1100.0,727.0,12.3,67.5,0.9624,Moderate
8402,2.2,-200.0,-200.0,-200.0,433.0,-200.0,119.0,-200.0,-200.0,-200.0,-200.0,-200.0000,High
8403,0.6,-200.0,-200.0,NaN,23.0,-200.0,36.0,-200.0,-200.0,-200.0,-200.0,-200.0000,Low
8404,0.8,-200.0,3.4,676.0,NaN,983.0,34.0,1488.0,488.0,35.4,32.4,1.8370,Low
8405,0.9,-200.0,3.8,701.0,254.0,944.0,124.0,NaN,936.0,4.5,51.8,0.4418,Low
8406,-200.0,-200.0,35.2,1668.0,-200.0,490.0,-200.0,2617.0,1749.0,16.0,57.3,1.0342,Very low
8407,-200.0,-200.0,7.2,866.0,111.0,832.0,98.0,1637.0,823.0,28.8,38.9,1.5184,Very low
8408,0.4,-200.0,2.1,595.0,-200.0,1191.0,-200.0,1080.0,686.0,14.4,54.5,0.8887,Low
8409,3.7,-200.0,22.1,1353.0,281.0,588.0,154.0,2128.0,1690.0,NaN,43.0,1.3548,High
8410,-200.0,-200.0,13.5,1102.0,-200.0,834.0,-200.0,1704.0,991.0,25.8,26.5,0.8675,Very low
8411,0.6,-200.0,4.3,730.0,30.0,933.0,34.0,1495.0,560.0,37.4,28.2,1.7808,Low
8412,2.4,-200.0,10.9,1009.0,181.0,823.0,96.0,1710.0,1015.0,25.3,35.8,1.1421,High
8413,2.4,-200.0,8.4,917.0,335.0,739.0,204.0,1038.0,1021.0,4.8,41.9,NaN,High
8414,4.2,269.0,18.3,1247.0,283.0,762.0,159.0,1860.0,1886.0,15.3,46.8,0.8091,High
8415,1.5,NaN,6.8,850.0,92.0,1084.0,91.0,1296.0,544.0,22.1,21.3,0.5605,High
8416,-200.0,-200.0,1.9,578.0,-200.0,1017.0,-200.0,876.0,607.0,5.8,59.0,0.5493,Very low
8417,1.3,-200.0,9.7,968.0,115.0,1276.0,112.0,1325.0,768.0,31.8,13.8,0.6394,High
8418,NaN,54.0,2.6,626.0,39.0,1325.0,52.0,1284.0,755.0,9.6,58.5,0.7000,Low
8419,-200.0,-200.0,21.0,1324.0,-200.0,527.0,-200.0,1886.0,1571.0,22.9,52.6,1.4519,Very low
8420,1.6,-200.0,6.4,832.0,244.0,748.0,119.0,1230.0,934.0,NaN,59.9,0.9261,High

In [142]:
df = pd.read_csv("forecasting_dataset.csv").sort_values(by = ['date', 'time'], ascending = True).reset_index()
df

,index,date,time,y,co_gt,nhmc,c6h6,s2,nox,s3,no2,s4,s5,t,rh,ah,level
0,3051,1/1/2005,0:00:00,1046,-200.0,-200.0,4.2,724.0,-200.0,848.0,-200.0,898.0,1201.0,8.2,40.1,0.4375,Very low
1,1909,1/1/2005,10:00:00,973,1.2,-200.0,4.7,748.0,190.0,878.0,97.0,968.0,991.0,4.7,57.2,0.4932,High
2,6211,1/1/2005,11:00:00,1011,1.7,-200.0,5.4,782.0,225.0,846.0,113.0,992.0,1019.0,6.8,48.6,0.4822,High
3,6498,1/1/2005,12:00:00,1097,2.3,-200.0,NaN,875.0,261.0,778.0,125.0,1080.0,1151.0,8.6,43.6,NaN,High
4,5266,1/1/2005,13:00:00,1149,2.2,-200.0,8.4,914.0,382.0,742.0,147.0,NaN,1242.0,9.5,41.2,0.4908,High
5,1524,1/1/2005,14:00:00,1117,2.4,-200.0,8.9,934.0,357.0,721.0,153.0,1075.0,1206.0,10.9,35.9,0.4680,High
6,4195,1/1/2005,15:00:00,1085,2.2,-200.0,7.9,896.0,299.0,760.0,147.0,1049.0,1138.0,12.5,32.3,0.4670,High
7,4670,1/1/2005,16:00:00,1102,2.1,-200.0,7.7,885.0,313.0,772.0,139.0,1051.0,1142.0,12.8,32.6,NaN,High
8,3712,1/1/2005,17:00:00,1281,3.0,-200.0,12.1,1053.0,510.0,659.0,165.0,1192.0,1438.0,10.9,39.7,0.5166,High
9,7296,1/1/2005,18:00:00,1472,4.7,-200.0,16.6,1198.0,832.0,555.0,191.0,1344.0,1735.0,NaN,51.8,0.5961,NaN
10,3046,1/1/2005,19:00:00,1328,3.6,-200.0,11.4,1029.0,622.0,637.0,172.0,1188.0,1611.0,8.1,54.1,0.5882,High
11,547,1/1/2005,1:00:00,1275,1.6,-200.0,8.8,930.0,215.0,649.0,106.0,1024.0,1617.0,NaN,50.7,0.4564,High
12,6069,1/1/2005,20:00:00,1198,2.5,-200.0,7.9,897.0,402.0,720.0,151.0,1072.0,1436.0,7.8,54.6,0.5786,High
13,2244,1/1/2005,21:00:00,1176,2.3,-200.0,8.1,NaN,334.0,718.0,137.0,1104.0,1389.0,6.2,59.6,0.5698,High
14,353,1/1/2005,22:00:00,1118,2.1,-200.0,6.4,830.0,295.0,765.0,130.0,1058.0,1313.0,5.7,59.9,0.5523,NaN
15,6874,1/1/2005,23:00:00,1091,1.7,-200.0,NaN,773.0,NaN,820.0,115.0,1003.0,1232.0,5.6,59.7,0.5463,High
16,2768,1/1/2005,2:00:00,1173,2.5,-200.0,7.5,878.0,300.0,738.0,129.0,1002.0,1355.0,5.9,50.0,0.4689,High
17,6035,1/1/2005,3:00:00,1163,2.7,-200.0,7.6,881.0,-200.0,748.0,-200.0,1001.0,1296.0,4.9,53.9,0.4693,High
18,3197,1/1/2005,4:00:00,1054,1.9,-200.0,5.6,791.0,253.0,830.0,126.0,967.0,1131.0,4.3,55.3,0.4650,NaN
19,7848,1/1/2005,5:00:00,1004,1.4,-200.0,4.8,753.0,181.0,879.0,106.0,942.0,1036.0,4.2,57.1,0.4759,High
20,3412,1/1/2005,6:00:00,1001,1.5,NaN,5.3,777.0,171.0,859.0,99.0,954.0,1009.0,3.5,58.3,0.4636,High
21,236,1/1/2005,7:00:00,974,1.4,-200.0,4.5,736.0,168.0,888.0,97.0,945.0,966.0,3.0,60.7,0.4667,High
22,5968,1/1/2005,8:00:00,915,1.1,-200.0,3.0,653.0,169.0,973.0,94.0,905.0,901.0,2.6,63.2,0.4721,High
23,8353,1/1/2005,9:00:00,939,1.0,-200.0,3.0,649.0,145.0,996.0,86.0,897.0,NaN,3.9,59.0,0.4807,NaN
24,4534,1/10/2005,0:00:00,1174,2.0,-200.0,7.4,873.0,288.0,672.0,137.0,1300.0,1071.0,13.7,63.6,0.9912,High
25,7782,1/10/2005,10:00:00,1420,2.1,-200.0,16.1,1183.0,592.0,NaN,136.0,1626.0,1520.0,12.8,71.8,1.0551,High
26,6068,1/10/2005,11:00:00,1413,2.1,-200.0,16.4,1193.0,698.0,484.0,144.0,1598.0,1566.0,13.1,70.3,1.0566,High
27,2920,1/10/2005,12:00:00,1335,1.7,-200.0,14.8,1141.0,482.0,512.0,133.0,1536.0,1501.0,13.7,67.0,1.0446,High
28,694,1/10/2005,13:00:00,1451,NaN,-200.0,NaN,1298.0,575.0,452.0,148.0,1744.0,1634.0,14.0,65.4,1.0427,High
29,5896,1/10/2005,14:00:00,1410,2.6,-200.0,19.3,1276.0,548.0,459.0,NaN,1701.0,1587.0,14.4,63.8,1.0421,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8391,1185,9/8/2004,4:00:00,-200,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,NaN,-200.0,-200.0000,Very low
8392,8173,9/8/2004,5:00:00,-200,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0000,Very low
8393,2830,9/8/2004,6:00:00,-200,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,NaN,NaN,-200.0,-200.0,NaN,Very low
8394,3619,9/8/2004,7:00:00,-200,-200.0,-200.0,-200.0,-200.0,-200.0,NaN,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0000,Very low
8395,4197,9/8/2004,8:00:00,-200,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0,-200.0000,Very low
8396,8063,9/8/2004,9:00:00,1297,-200.0,-200.0,34.5,1654.0,-200.0,848.0,-200.0,1366.0,1611.0,22.7,33.0,0.8987,Very low
8397,4525,9/9/2004,0:00:00,999,1.4,-200.0,7.5,879.0,180.0,1114.0,119.0,1261.0,960.0,24.9,28.3,0.8775,High
8398,1545,9/9/2004,10:00:00,1277,3.1,-200.0,19.9,1292.0,590.0,800.0,171.0,1626.0,1481.0,31.0,21.9,0.9708,High
8399,4849,9/9/2004,11:00:00,1156,2.2,-200.0,14.8,1142.0,387.0,907.0,143.0,1490.0,1188.0,34.9,18.5,1.0189,High
8400,4160,9/9/2004,12:00:00,1054,1.7,-200.0,12.6,1071.0,252.0,1006.0,116.0,1380.0,940.0,37.1,15.0,0.9297,High
8401,3473,9/9/2004,13:00:00,1096,2.0,-200.0,13.0,1083.0,310.0,971.0,129.0,1430.0,986.0,35.0,17.3,0.9542,High
8402,7545,9/9/2004,14:00:00,1160,2.5,-200.0,16.2,NaN,NaN,873.0,168.0,1522.0,1162.0,35.1,17.5,0.9733,High
8403,6216,9/9/2004,15:00:00,1148,2.4,-200.0,15.0,1149.0,NaN,924.0,152.0,1473.0,1047.0,35.4,16.6,NaN,NaN
8404,1764,9/9/2004,16:00:00,1166,2.9,-200.0,16.2,1186.0,393.0,878.0,175.0,1500.0,1180.0,38.4,13.8,0.9221,High
8405,5784,9/9/2004,17:00:00,1315,4.2,-200.0,22.7,1370.0,522.0,794.0,212.0,1689.0,1399.0,37.6,14.5,0.9277,High
8406,2172,9/9/2004,18:00:00,1425,5.4,-200.0,32.3,1605.0,631.0,660.0,220.0,1920.0,2321.0,35.2,16.6,0.9242,High
8407,3802,9/9/2004,19:00:00,1329,4.3,-200.0,22.3,1360.0,435.0,NaN,175.0,1768.0,1894.0,31.2,25.5,1.1379,High
8408,1925,9/9/2004,1:00:00,980,1.2,-200.0,7.4,873.0,NaN,1088.0,98.0,1258.0,949.0,23.2,30.5,0.8558,High
8409,1219,9/9/2004,20:00:00,1299,3.6,-200.0,16.6,1197.0,407.0,NaN,NaN,1688.0,1606.0,NaN,30.7,1.2290,High
8410,6350,9/9/2004,21:00:00,1123,2.0,-200.0,NaN,1015.0,255.0,845.0,136.0,1470.0,1297.0,28.3,30.1,1.1392,High
8411,5836,9/9/2004,22:00:00,1089,1.5,-200.0,11.3,1024.0,180.0,831.0,111.0,1452.0,NaN,27.4,31.5,1.1330,High
8412,1670,9/9/2004,23:00:00,1081,1.5,-200.0,9.3,950.0,186.0,876.0,114.0,1434.0,1138.0,26.2,35.7,1.1929,High
8413,5965,9/9/2004,2:00:00,859,0.6,-200.0,3.8,698.0,105.0,NaN,89.0,1157.0,819.0,22.3,33.6,0.8959,Low
8414,1820,9/9/2004,3:00:00,814,NaN,-200.0,2.3,606.0,-200.0,1370.0,-200.0,1131.0,NaN,23.0,33.0,0.9184,Low
8415,5156,9/9/2004,4:00:00,806,0.2,-200.0,2.3,605.0,74.0,1366.0,68.0,NaN,725.0,21.4,35.7,0.8982,Low
8416,6668,9/9/2004,5:00:00,813,0.4,-200.0,2.7,631.0,91.0,1327.0,65.0,1108.0,710.0,NaN,33.4,0.8545,NaN
8417,2899,9/9/2004,6:00:00,889,0.6,-200.0,4.9,NaN,143.0,1224.0,81.0,1213.0,806.0,20.3,35.5,0.8342,Low
8418,6122,9/9/2004,7:00:00,1200,3.0,NaN,18.2,NaN,553.0,798.0,136.0,1574.0,1416.0,19.7,37.5,NaN,High
8419,5954,9/9/2004,8:00:00,1289,3.2,NaN,21.4,1335.0,542.0,724.0,130.0,1681.0,1521.0,21.0,35.6,NaN,High
8420,2564,9/9/2004,9:00:00,1355,3.5,-200.0,21.3,1333.0,590.0,741.0,157.0,1691.0,1605.0,25.0,28.9,0.9025,High

The time column doesn't sort properly 1 am shows up after 7. Make sure to change the format!

In [143]:
df = preProcessData(df)

co_gt 441 <class 'numpy.float64'>
nhmc 434 <class 'numpy.float64'>
c6h6 413 <class 'numpy.float64'>
s2 421 <class 'numpy.float64'>
nox 425 <class 'numpy.float64'>
s3 416 <class 'numpy.float64'>
no2 455 <class 'numpy.float64'>
s4 394 <class 'numpy.float64'>
s5 400 <class 'numpy.float64'>
t 424 <class 'numpy.float64'>
rh 436 <class 'numpy.float64'>
ah 425 <class 'numpy.float64'>
level 418 <class 'str'>

In [144]:
df.isnull().sum()

index        0
date         0
time         0
y            0
co_gt        0
nhmc         0
c6h6         0
s2           0
nox          0
s3           0
no2          0
s4           0
s5           0
t            0
rh           0
ah           0
High         0
Low          0
Moderate     0
Very High    0
Very low     0
dtype: int64

In [117]:
df_scaled = normalize(df.loc[:,'y':])

In [122]:
# might want to fill the NaNs with a moving window average instead

In [145]:
df['time'] = pd.to_datetime(df['time'])

In [146]:
df

,index,date,time,y,co_gt,nhmc,c6h6,s2,nox,s3,...,s4,s5,t,rh,ah,High,Low,Moderate,Very High,Very low
0,3051,1/1/2005,2018-09-28 00:00:00,1046,-200.000000,-200.000000,4.20000,724.00000,-200.00000,848.000000,...,898.000000,1201.000000,8.200000,40.1,0.437500,0,0,0,0,1
1,1909,1/1/2005,2018-09-28 10:00:00,973,1.200000,-200.000000,4.70000,748.00000,190.00000,878.000000,...,968.000000,991.000000,4.700000,57.2,0.493200,1,0,0,0,0
2,6211,1/1/2005,2018-09-28 11:00:00,1011,1.700000,-200.000000,5.40000,782.00000,225.00000,846.000000,...,992.000000,1019.000000,6.800000,48.6,0.482200,1,0,0,0,0
3,6498,1/1/2005,2018-09-28 12:00:00,1097,2.300000,-200.000000,1.13454,875.00000,261.00000,778.000000,...,1080.000000,1151.000000,8.600000,43.6,-7.792764,1,0,0,0,0
4,5266,1/1/2005,2018-09-28 13:00:00,1149,2.200000,-200.000000,8.40000,914.00000,382.00000,742.000000,...,1414.505295,1242.000000,9.500000,41.2,0.490800,1,0,0,0,0
5,1524,1/1/2005,2018-09-28 14:00:00,1117,2.400000,-200.000000,8.90000,934.00000,357.00000,721.000000,...,1075.000000,1206.000000,10.900000,35.9,0.468000,1,0,0,0,0
6,4195,1/1/2005,2018-09-28 15:00:00,1085,2.200000,-200.000000,7.90000,896.00000,299.00000,760.000000,...,1049.000000,1138.000000,12.500000,32.3,0.467000,1,0,0,0,0
7,4670,1/1/2005,2018-09-28 16:00:00,1102,2.100000,-200.000000,7.70000,885.00000,313.00000,772.000000,...,1051.000000,1142.000000,12.800000,32.6,-7.792764,1,0,0,0,0
8,3712,1/1/2005,2018-09-28 17:00:00,1281,3.000000,-200.000000,12.10000,1053.00000,510.00000,659.000000,...,1192.000000,1438.000000,10.900000,39.7,0.516600,1,0,0,0,0
9,7296,1/1/2005,2018-09-28 18:00:00,1472,4.700000,-200.000000,16.60000,1198.00000,832.00000,555.000000,...,1344.000000,1735.000000,9.904877,51.8,0.596100,1,0,0,0,0
10,3046,1/1/2005,2018-09-28 19:00:00,1328,3.600000,-200.000000,11.40000,1029.00000,622.00000,637.000000,...,1188.000000,1611.000000,8.100000,54.1,0.588200,1,0,0,0,0
11,547,1/1/2005,2018-09-28 01:00:00,1275,1.600000,-200.000000,8.80000,930.00000,215.00000,649.000000,...,1024.000000,1617.000000,9.904877,50.7,0.456400,1,0,0,0,0
12,6069,1/1/2005,2018-09-28 20:00:00,1198,2.500000,-200.000000,7.90000,897.00000,402.00000,720.000000,...,1072.000000,1436.000000,7.800000,54.6,0.578600,1,0,0,0,0
13,2244,1/1/2005,2018-09-28 21:00:00,1176,2.300000,-200.000000,8.10000,898.96525,334.00000,718.000000,...,1104.000000,1389.000000,6.200000,59.6,0.569800,1,0,0,0,0
14,353,1/1/2005,2018-09-28 22:00:00,1118,2.100000,-200.000000,6.40000,830.00000,295.00000,765.000000,...,1058.000000,1313.000000,5.700000,59.9,0.552300,1,0,0,0,0
15,6874,1/1/2005,2018-09-28 23:00:00,1091,1.700000,-200.000000,1.13454,773.00000,156.62006,820.000000,...,1003.000000,1232.000000,5.600000,59.7,0.546300,1,0,0,0,0
16,2768,1/1/2005,2018-09-28 02:00:00,1173,2.500000,-200.000000,7.50000,878.00000,300.00000,738.000000,...,1002.000000,1355.000000,5.900000,50.0,0.468900,1,0,0,0,0
17,6035,1/1/2005,2018-09-28 03:00:00,1163,2.700000,-200.000000,7.60000,881.00000,-200.00000,748.000000,...,1001.000000,1296.000000,4.900000,53.9,0.469300,1,0,0,0,0
18,3197,1/1/2005,2018-09-28 04:00:00,1054,1.900000,-200.000000,5.60000,791.00000,253.00000,830.000000,...,967.000000,1131.000000,4.300000,55.3,0.465000,1,0,0,0,0
19,7848,1/1/2005,2018-09-28 05:00:00,1004,1.400000,-200.000000,4.80000,753.00000,181.00000,879.000000,...,942.000000,1036.000000,4.200000,57.1,0.475900,1,0,0,0,0
20,3412,1/1/2005,2018-09-28 06:00:00,1001,1.500000,-154.691373,5.30000,777.00000,171.00000,859.000000,...,954.000000,1009.000000,3.500000,58.3,0.463600,1,0,0,0,0
21,236,1/1/2005,2018-09-28 07:00:00,974,1.400000,-200.000000,4.50000,736.00000,168.00000,888.000000,...,945.000000,966.000000,3.000000,60.7,0.466700,1,0,0,0,0
22,5968,1/1/2005,2018-09-28 08:00:00,915,1.100000,-200.000000,3.00000,653.00000,169.00000,973.000000,...,905.000000,901.000000,2.600000,63.2,0.472100,1,0,0,0,0
23,8353,1/1/2005,2018-09-28 09:00:00,939,1.000000,-200.000000,3.00000,649.00000,145.00000,996.000000,...,897.000000,970.777709,3.900000,59.0,0.480700,1,0,0,0,0
24,4534,1/10/2005,2018-09-28 00:00:00,1174,2.000000,-200.000000,7.40000,873.00000,288.00000,672.000000,...,1300.000000,1071.000000,13.700000,63.6,0.991200,1,0,0,0,0
25,7782,1/10/2005,2018-09-28 10:00:00,1420,2.100000,-200.000000,16.10000,1183.00000,592.00000,801.763398,...,1626.000000,1520.000000,12.800000,71.8,1.055100,1,0,0,0,0
26,6068,1/10/2005,2018-09-28 11:00:00,1413,2.100000,-200.000000,16.40000,1193.00000,698.00000,484.000000,...,1598.000000,1566.000000,13.100000,70.3,1.056600,1,0,0,0,0
27,2920,1/10/2005,2018-09-28 12:00:00,1335,1.700000,-200.000000,14.80000,1141.00000,482.00000,512.000000,...,1536.000000,1501.000000,13.700000,67.0,1.044600,1,0,0,0,0
28,694,1/10/2005,2018-09-28 13:00:00,1451,-37.626153,-200.000000,1.13454,1298.00000,575.00000,452.000000,...,1744.000000,1634.000000,14.000000,65.4,1.042700,1,0,0,0,0
29,5896,1/10/2005,2018-09-28 14:00:00,1410,2.600000,-200.000000,19.30000,1276.00000,548.00000,459.000000,...,1701.000000,1587.000000,14.400000,63.8,1.042100,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8391,1185,9/8/2004,2018-09-28 04:00:00,-200,-200.000000,-200.000000,-200.00000,-200.00000,-200.00000,-200.000000,...,-200.000000,-200.000000,9.904877,-200.0,-200.000000,0,0,0,0,1
8392,8173,9/8/2004,2018-09-28 05:00:00,-200,-200.000000,-200.000000,-200.00000,-200.00000,-200.00000,-200.000000,...,-200.000000,-200.000000,-200.000000,-200.0,-200.000000,0,0,0,0,1
8393,2830,9/8/2004,2018-09-28 06:00:00,-200,-200.000000,-200.000000,-200.00000,-200.00000,-200.00000,-200.000000,...,1414.505295,970.777709,-200.000000,-200.0,-7.792764,0,0,0,0,1
8394,3619,9/8/2004,2018-09-28 07:00:00,-200,-200.000000,-200.000000,-200.00000,-200.00000,-200.00000,801.763398,...,-200.000000,-200.000000,-200.000000,-200.0,-200.000000,0,0,0,0,1
8395,4197,9/8/2004,2018-09-28 08:00:00,-200,-200.000000,-200.000000,-200.00000,-200.00000,-200.00000,-200.000000,...,-200.000000,-200.000000,-200.000000,-200.0,-200.000000,0,0,0,0,1
8396,8063,9/8/2004,2018-09-28 09:00:00,1297,-200.000000,-200.000000,34.50000,1654.00000,-200.00000,848.000000,...,1366.000000,1611.000000,22.700000,33.0,0.898700,0,0,0,0,1
8397,4525,9/9/2004,2018-09-28 00:00:00,999,1.400000,-200.000000,7.50000,879.00000,180.00000,1114.000000,...,1261.000000,960.000000,24.900000,28.3,0.877500,1,0,0,0,0
8398,1545,9/9/2004,2018-09-28 10:00:00,1277,3.100000,-200.000000,19.90000,1292.00000,590.00000,800.000000,...,1626.000000,1481.000000,31.000000,21.9,0.970800,1,0,0,0,0
8399,4849,9/9/2004,2018-09-28 11:00:00,1156,2.200000,-200.000000,14.80000,1142.00000,387.00000,907.000000,...,1490.000000,1188.000000,34.900000,18.5,1.018900,1,0,0,0,0
8400,4160,9/9/2004,2018-09-28 12:00:00,1054,1.700000,-200.000000,12.60000,1071.00000,252.00000,1006.000000,...,1380.000000,940.000000,37.100000,15.0,0.929700,1,0,0,0,0
8401,3473,9/9/2004,2018-09-28 13:00:00,1096,2.000000,-200.000000,13.00000,1083.00000,310.00000,971.000000,...,1430.000000,986.000000,35.000000,17.3,0.954200,1,0,0,0,0
8402,7545,9/9/2004,2018-09-28 14:00:00,1160,2.500000,-200.000000,16.20000,898.96525,156.62006,873.000000,...,1522.000000,1162.000000,35.100000,17.5,0.973300,1,0,0,0,0
8403,6216,9/9/2004,2018-09-28 15:00:00,1148,2.400000,-200.000000,15.00000,1149.00000,156.62006,924.000000,...,1473.000000,1047.000000,35.400000,16.6,-7.792764,1,0,0,0,0
8404,1764,9/9/2004,2018-09-28 16:00:00,1166,2.900000,-200.000000,16.20000,1186.00000,393.00000,878.000000,...,1500.000000,1180.000000,38.400000,13.8,0.922100,1,0,0,0,0
8405,5784,9/9/2004,2018-09-28 17:00:00,1315,4.200000,-200.000000,22.70000,1370.00000,522.00000,794.000000,...,1689.000000,1399.000000,37.600000,14.5,0.927700,1,0,0,0,0
8406,2172,9/9/2004,2018-09-28 18:00:00,1425,5.400000,-200.000000,32.30000,1605.00000,631.00000,660.000000,...,1920.000000,2321.000000,35.200000,16.6,0.924200,1,0,0,0,0
8407,3802,9/9/2004,2018-09-28 19:00:00,1329,4.300000,-200.000000,22.30000,1360.00000,435.00000,801.763398,...,1768.000000,1894.000000,31.200000,25.5,1.137900,1,0,0,0,0
8408,1925,9/9/2004,2018-09-28 01:00:00,980,1.200000,-200.000000,7.40000,873.00000,156.62006,1088.000000,...,1258.000000,949.000000,23.200000,30.5,0.855800,1,0,0,0,0
8409,1219,9/9/2004,2018-09-28 20:00:00,1299,3.600000,-200.000000,16.60000,1197.00000,407.00000,801.763398,...,1688.000000,1606.000000,9.904877,30.7,1.229000,1,0,0,0,0
8410,6350,9/9/2004,2018-09-28 21:00:00,1123,2.000000,-200.000000,1.13454,1015.00000,255.00000,845.000000,...,1470.000000,1297.000000,28.300000,30.1,1.139200,1,0,0,0,0
8411,5836,9/9/2004,2018-09-28 22:00:00,1089,1.500000,-200.000000,11.30000,1024.00000,180.00000,831.000000,...,1452.000000,970.777709,27.400000,31.5,1.133000,1,0,0,0,0
8412,1670,9/9/2004,2018-09-28 23:00:00,1081,1.500000,-200.000000,9.30000,950.00000,186.00000,876.000000,...,1434.000000,1138.000000,26.200000,35.7,1.192900,1,0,0,0,0
8413,5965,9/9/2004,2018-09-28 02:00:00,859,0.600000,-200.000000,3.80000,698.00000,105.00000,801.763398,...,1157.000000,819.000000,22.300000,33.6,0.895900,0,1,0,0,0
8414,1820,9/9/2004,2018-09-28 03:00:00,814,-37.626153,-200.000000,2.30000,606.00000,-200.00000,1370.000000,...,1131.000000,970.777709,23.000000,33.0,0.918400,0,1,0,0,0
8415,5156,9/9/2004,2018-09-28 04:00:00,806,0.200000,-200.000000,2.30000,605.00000,74.00000,1366.000000,...,1414.505295,725.000000,21.400000,35.7,0.898200,0,1,0,0,0
8416,6668,9/9/2004,2018-09-28 05:00:00,813,0.400000,-200.000000,2.70000,631.00000,91.00000,1327.000000,...,1108.000000,710.000000,9.904877,33.4,0.854500,1,0,0,0,0
8417,2899,9/9/2004,2018-09-28 06:00:00,889,0.600000,-200.000000,4.90000,898.96525,143.00000,1224.000000,...,1213.000000,806.000000,20.300000,35.5,0.834200,0,1,0,0,0
8418,6122,9/9/2004,2018-09-28 07:00:00,1200,3.000000,-154.691373,18.20000,898.96525,553.00000,798.000000,...,1574.000000,1416.000000,19.700000,37.5,-7.792764,1,0,0,0,0
8419,5954,9/9/2004,2018-09-28 08:00:00,1289,3.200000,-154.691373,21.40000,1335.00000,542.00000,724.000000,...,1681.000000,1521.000000,21.000000,35.6,-7.792764,1,0,0,0,0
8420,2564,9/9/2004,2018-09-28 09:00:00,1355,3.500000,-200.000000,21.30000,1333.00000,590.00000,741.000000,...,1691.000000,1605.000000,25.000000,28.9,0.902500,1,0,0,0,0

Now we shift everything up by 6 hours to generate our labels

In [155]:
df['y'] = df.y.shift(6)

In [157]:
df.drop(df.index[:6], inplace = True)

In [158]:
df

,index,date,time,y,co_gt,nhmc,c6h6,s2,nox,s3,...,s4,s5,t,rh,ah,High,Low,Moderate,Very High,Very low
6,4195,1/1/2005,2018-09-28 15:00:00,None,2.200000,-200.000000,7.90000,896.00000,299.00000,760.000000,...,1049.000000,1138.000000,12.500000,32.3,0.467000,1,0,0,0,0
7,4670,1/1/2005,2018-09-28 16:00:00,None,2.100000,-200.000000,7.70000,885.00000,313.00000,772.000000,...,1051.000000,1142.000000,12.800000,32.6,-7.792764,1,0,0,0,0
8,3712,1/1/2005,2018-09-28 17:00:00,None,3.000000,-200.000000,12.10000,1053.00000,510.00000,659.000000,...,1192.000000,1438.000000,10.900000,39.7,0.516600,1,0,0,0,0
9,7296,1/1/2005,2018-09-28 18:00:00,None,4.700000,-200.000000,16.60000,1198.00000,832.00000,555.000000,...,1344.000000,1735.000000,9.904877,51.8,0.596100,1,0,0,0,0
10,3046,1/1/2005,2018-09-28 19:00:00,None,3.600000,-200.000000,11.40000,1029.00000,622.00000,637.000000,...,1188.000000,1611.000000,8.100000,54.1,0.588200,1,0,0,0,0
11,547,1/1/2005,2018-09-28 01:00:00,None,1.600000,-200.000000,8.80000,930.00000,215.00000,649.000000,...,1024.000000,1617.000000,9.904877,50.7,0.456400,1,0,0,0,0
12,6069,1/1/2005,2018-09-28 20:00:00,None,2.500000,-200.000000,7.90000,897.00000,402.00000,720.000000,...,1072.000000,1436.000000,7.800000,54.6,0.578600,1,0,0,0,0
13,2244,1/1/2005,2018-09-28 21:00:00,None,2.300000,-200.000000,8.10000,898.96525,334.00000,718.000000,...,1104.000000,1389.000000,6.200000,59.6,0.569800,1,0,0,0,0
14,353,1/1/2005,2018-09-28 22:00:00,None,2.100000,-200.000000,6.40000,830.00000,295.00000,765.000000,...,1058.000000,1313.000000,5.700000,59.9,0.552300,1,0,0,0,0
15,6874,1/1/2005,2018-09-28 23:00:00,None,1.700000,-200.000000,1.13454,773.00000,156.62006,820.000000,...,1003.000000,1232.000000,5.600000,59.7,0.546300,1,0,0,0,0
16,2768,1/1/2005,2018-09-28 02:00:00,None,2.500000,-200.000000,7.50000,878.00000,300.00000,738.000000,...,1002.000000,1355.000000,5.900000,50.0,0.468900,1,0,0,0,0
17,6035,1/1/2005,2018-09-28 03:00:00,None,2.700000,-200.000000,7.60000,881.00000,-200.00000,748.000000,...,1001.000000,1296.000000,4.900000,53.9,0.469300,1,0,0,0,0
18,3197,1/1/2005,2018-09-28 04:00:00,None,1.900000,-200.000000,5.60000,791.00000,253.00000,830.000000,...,967.000000,1131.000000,4.300000,55.3,0.465000,1,0,0,0,0
19,7848,1/1/2005,2018-09-28 05:00:00,None,1.400000,-200.000000,4.80000,753.00000,181.00000,879.000000,...,942.000000,1036.000000,4.200000,57.1,0.475900,1,0,0,0,0
20,3412,1/1/2005,2018-09-28 06:00:00,None,1.500000,-154.691373,5.30000,777.00000,171.00000,859.000000,...,954.000000,1009.000000,3.500000,58.3,0.463600,1,0,0,0,0
21,236,1/1/2005,2018-09-28 07:00:00,None,1.400000,-200.000000,4.50000,736.00000,168.00000,888.000000,...,945.000000,966.000000,3.000000,60.7,0.466700,1,0,0,0,0
22,5968,1/1/2005,2018-09-28 08:00:00,None,1.100000,-200.000000,3.00000,653.00000,169.00000,973.000000,...,905.000000,901.000000,2.600000,63.2,0.472100,1,0,0,0,0
23,8353,1/1/2005,2018-09-28 09:00:00,None,1.000000,-200.000000,3.00000,649.00000,145.00000,996.000000,...,897.000000,970.777709,3.900000,59.0,0.480700,1,0,0,0,0
24,4534,1/10/2005,2018-09-28 00:00:00,None,2.000000,-200.000000,7.40000,873.00000,288.00000,672.000000,...,1300.000000,1071.000000,13.700000,63.6,0.991200,1,0,0,0,0
25,7782,1/10/2005,2018-09-28 10:00:00,None,2.100000,-200.000000,16.10000,1183.00000,592.00000,801.763398,...,1626.000000,1520.000000,12.800000,71.8,1.055100,1,0,0,0,0
26,6068,1/10/2005,2018-09-28 11:00:00,None,2.100000,-200.000000,16.40000,1193.00000,698.00000,484.000000,...,1598.000000,1566.000000,13.100000,70.3,1.056600,1,0,0,0,0
27,2920,1/10/2005,2018-09-28 12:00:00,None,1.700000,-200.000000,14.80000,1141.00000,482.00000,512.000000,...,1536.000000,1501.000000,13.700000,67.0,1.044600,1,0,0,0,0
28,694,1/10/2005,2018-09-28 13:00:00,None,-37.626153,-200.000000,1.13454,1298.00000,575.00000,452.000000,...,1744.000000,1634.000000,14.000000,65.4,1.042700,1,0,0,0,0
29,5896,1/10/2005,2018-09-28 14:00:00,None,2.600000,-200.000000,19.30000,1276.00000,548.00000,459.000000,...,1701.000000,1587.000000,14.400000,63.8,1.042100,1,0,0,0,0
30,3878,1/10/2005,2018-09-28 15:00:00,None,2.400000,-200.000000,19.30000,1277.00000,498.00000,456.000000,...,1721.000000,1560.000000,14.100000,65.9,1.053100,1,0,0,0,0
31,4823,1/10/2005,2018-09-28 16:00:00,None,2.400000,-200.000000,17.40000,1223.00000,479.00000,475.000000,...,1640.000000,1538.000000,14.100000,65.9,1.055200,1,0,0,0,0
32,2558,1/10/2005,2018-09-28 17:00:00,None,-37.626153,-200.000000,17.00000,1210.00000,420.00000,484.000000,...,1629.000000,1491.000000,14.100000,66.0,1.053900,1,0,0,0,0
33,6354,1/10/2005,2018-09-28 18:00:00,None,2.000000,-200.000000,17.10000,1213.00000,378.00000,489.000000,...,1611.000000,1469.000000,14.000000,66.4,1.053600,1,0,0,0,0
34,5242,1/10/2005,2018-09-28 19:00:00,None,3.100000,-200.000000,16.40000,1192.00000,340.00000,492.000000,...,1593.000000,1486.000000,13.800000,66.4,1.045100,1,0,0,0,0
35,4296,1/10/2005,2018-09-28 01:00:00,None,1.700000,-200.000000,7.40000,876.00000,209.00000,666.000000,...,1319.000000,1059.000000,13.100000,68.7,1.032900,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8391,1185,9/8/2004,2018-09-28 04:00:00,None,-200.000000,-200.000000,-200.00000,-200.00000,-200.00000,-200.000000,...,-200.000000,-200.000000,9.904877,-200.0,-200.000000,0,0,0,0,1
8392,8173,9/8/2004,2018-09-28 05:00:00,None,-200.000000,-200.000000,-200.00000,-200.00000,-200.00000,-200.000000,...,-200.000000,-200.000000,-200.000000,-200.0,-200.000000,0,0,0,0,1
8393,2830,9/8/2004,2018-09-28 06:00:00,None,-200.000000,-200.000000,-200.00000,-200.00000,-200.00000,-200.000000,...,1414.505295,970.777709,-200.000000,-200.0,-7.792764,0,0,0,0,1
8394,3619,9/8/2004,2018-09-28 07:00:00,None,-200.000000,-200.000000,-200.00000,-200.00000,-200.00000,801.763398,...,-200.000000,-200.000000,-200.000000,-200.0,-200.000000,0,0,0,0,1
8395,4197,9/8/2004,2018-09-28 08:00:00,None,-200.000000,-200.000000,-200.00000,-200.00000,-200.00000,-200.000000,...,-200.000000,-200.000000,-200.000000,-200.0,-200.000000,0,0,0,0,1
8396,8063,9/8/2004,2018-09-28 09:00:00,None,-200.000000,-200.000000,34.50000,1654.00000,-200.00000,848.000000,...,1366.000000,1611.000000,22.700000,33.0,0.898700,0,0,0,0,1
8397,4525,9/9/2004,2018-09-28 00:00:00,None,1.400000,-200.000000,7.50000,879.00000,180.00000,1114.000000,...,1261.000000,960.000000,24.900000,28.3,0.877500,1,0,0,0,0
8398,1545,9/9/2004,2018-09-28 10:00:00,None,3.100000,-200.000000,19.90000,1292.00000,590.00000,800.000000,...,1626.000000,1481.000000,31.000000,21.9,0.970800,1,0,0,0,0
8399,4849,9/9/2004,2018-09-28 11:00:00,None,2.200000,-200.000000,14.80000,1142.00000,387.00000,907.000000,...,1490.000000,1188.000000,34.900000,18.5,1.018900,1,0,0,0,0
8400,4160,9/9/2004,2018-09-28 12:00:00,None,1.700000,-200.000000,12.60000,1071.00000,252.00000,1006.000000,...,1380.000000,940.000000,37.100000,15.0,0.929700,1,0,0,0,0
8401,3473,9/9/2004,2018-09-28 13:00:00,None,2.000000,-200.000000,13.00000,1083.00000,310.00000,971.000000,...,1430.000000,986.000000,35.000000,17.3,0.954200,1,0,0,0,0
8402,7545,9/9/2004,2018-09-28 14:00:00,None,2.500000,-200.000000,16.20000,898.96525,156.62006,873.000000,...,1522.000000,1162.000000,35.100000,17.5,0.973300,1,0,0,0,0
8403,6216,9/9/2004,2018-09-28 15:00:00,None,2.400000,-200.000000,15.00000,1149.00000,156.62006,924.000000,...,1473.000000,1047.000000,35.400000,16.6,-7.792764,1,0,0,0,0
8404,1764,9/9/2004,2018-09-28 16:00:00,None,2.900000,-200.000000,16.20000,1186.00000,393.00000,878.000000,...,1500.000000,1180.000000,38.400000,13.8,0.922100,1,0,0,0,0
8405,5784,9/9/2004,2018-09-28 17:00:00,None,4.200000,-200.000000,22.70000,1370.00000,522.00000,794.000000,...,1689.000000,1399.000000,37.600000,14.5,0.927700,1,0,0,0,0
8406,2172,9/9/2004,2018-09-28 18:00:00,None,5.400000,-200.000000,32.30000,1605.00000,631.00000,660.000000,...,1920.000000,2321.000000,35.200000,16.6,0.924200,1,0,0,0,0
8407,3802,9/9/2004,2018-09-28 19:00:00,None,4.300000,-200.000000,22.30000,1360.00000,435.00000,801.763398,...,1768.000000,1894.000000,31.200000,25.5,1.137900,1,0,0,0,0
8408,1925,9/9/2004,2018-09-28 01:00:00,None,1.200000,-200.000000,7.40000,873.00000,156.62006,1088.000000,...,1258.000000,949.000000,23.200000,30.5,0.855800,1,0,0,0,0
8409,1219,9/9/2004,2018-09-28 20:00:00,None,3.600000,-200.000000,16.60000,1197.00000,407.00000,801.763398,...,1688.000000,1606.000000,9.904877,30.7,1.229000,1,0,0,0,0
8410,6350,9/9/2004,2018-09-28 21:00:00,None,2.000000,-200.000000,1.13454,1015.00000,255.00000,845.000000,...,1470.000000,1297.000000,28.300000,30.1,1.139200,1,0,0,0,0
8411,5836,9/9/2004,2018-09-28 22:00:00,None,1.500000,-200.000000,11.30000,1024.00000,180.00000,831.000000,...,1452.000000,970.777709,27.400000,31.5,1.133000,1,0,0,0,0
8412,1670,9/9/2004,2018-09-28 23:00:00,None,1.500000,-200.000000,9.30000,950.00000,186.00000,876.000000,...,1434.000000,1138.000000,26.200000,35.7,1.192900,1,0,0,0,0
8413,5965,9/9/2004,2018-09-28 02:00:00,None,0.600000,-200.000000,3.80000,698.00000,105.00000,801.763398,...,1157.000000,819.000000,22.300000,33.6,0.895900,0,1,0,0,0
8414,1820,9/9/2004,2018-09-28 03:00:00,None,-37.626153,-200.000000,2.30000,606.00000,-200.00000,1370.000000,...,1131.000000,970.777709,23.000000,33.0,0.918400,0,1,0,0,0
8415,5156,9/9/2004,2018-09-28 04:00:00,None,0.200000,-200.000000,2.30000,605.00000,74.00000,1366.000000,...,1414.505295,725.000000,21.400000,35.7,0.898200,0,1,0,0,0
8416,6668,9/9/2004,2018-09-28 05:00:00,None,0.400000,-200.000000,2.70000,631.00000,91.00000,1327.000000,...,1108.000000,710.000000,9.904877,33.4,0.854500,1,0,0,0,0
8417,2899,9/9/2004,2018-09-28 06:00:00,None,0.600000,-200.000000,4.90000,898.96525,143.00000,1224.000000,...,1213.000000,806.000000,20.300000,35.5,0.834200,0,1,0,0,0
8418,6122,9/9/2004,2018-09-28 07:00:00,None,3.000000,-154.691373,18.20000,898.96525,553.00000,798.000000,...,1574.000000,1416.000000,19.700000,37.5,-7.792764,1,0,0,0,0
8419,5954,9/9/2004,2018-09-28 08:00:00,None,3.200000,-154.691373,21.40000,1335.00000,542.00000,724.000000,...,1681.000000,1521.000000,21.000000,35.6,-7.792764,1,0,0,0,0
8420,2564,9/9/2004,2018-09-28 09:00:00,None,3.500000,-200.000000,21.30000,1333.00000,590.00000,741.000000,...,1691.000000,1605.000000,25.000000,28.9,0.902500,1,0,0,0,0